<div id="brackets-trello-edit-card-name" class="template modal">
	<div class="modal-header">
		<h1 class="dialog-title">{{strings.TITLE_EDIT_CARD_NAME}}</h1>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div class="control-group">
				<input type="text" class="card-name" placeholder="{{strings.LBL_CARD_NAME}}" value="{{cardName}}">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="dialog-button btn primary" data-button-id="save">{{strings.BTN_DONE}}</button>
		<button class="dialog-button btn" data-button-id="cancel">{{strings.BTN_CANCEL}}</button>
	</div>
</div>
