<div id="brackets-trello-edit-board-name" class="template modal">
	<div class="modal-header">
		<h1 class="dialog-title">Edit Board Name</h1>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div class="control-group">
				<div class="control-label">Board Name: </div>
				<div class="controls">
					<input type="text" class="board-name" placeholder="Board Name">
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="dialog-button btn primary" data-button-id="save">{{BTN_DONE}}</button>
		<button class="dialog-button btn" data-button-id="cancel">{{BTN_CANCEL}}</button>
	</div>
</div>
