<div id="brackets-trello-edit-comment" class="template modal">
	<div class="modal-header">
		<h1 class="dialog-title">Edit Comment</h1>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<textarea class="card-comment-text" placeholder="Comment..."></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<button class="dialog-button btn primary" data-button-id="save">{{BTN_DONE}}</button>
		<button class="dialog-button btn" data-button-id="cancel">{{BTN_CANCEL}}</button>
	</div>
</div>
