<div id="brackets-trello-new-checklist" class="template modal">
	<div class="modal-header">
		<h1 class="dialog-title">{{strings.TITLE_CREATE_NEW_CHECKLIST}}</h1>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div class="control-group">
				<div class="control-label">{{strings.LBL_CHECKLIST_NAME}}</div>
				<div class="controls">
					<input type="text" class="checklist-name" placeholder="{{strings.LBL_CHECKLIST_NAME}}">
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn primary btn-add-task">{{strings.ADD_NEW_TASK}}</button>
		<button class="dialog-button btn" data-button-id="cancel">{{strings.BTN_CANCEL}}</button>
		<button class="dialog-button btn primary" data-button-id="save">{{strings.BTN_DONE}}</button>
	</div>
</div>
