<div id="brackets-trello-new-card" class="template modal">
	<div class="modal-header">
		<h1 class="dialog-title">{{strings.TITLE_CREATE_NEW_CARD}}</h1>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div class="control-group">
				<div class="control-label">{{strings.LBL_CARD_NAME}}</div>
				<div class="controls">
					<input type="text" class="card-name" placeholder="{{strings.LBL_CARD_NAME}}">
				</div>
			</div>
			<div class="control-group">
				<div class="control-label">{{strings.LBL_CARD_DESC}}</div>
				<div class="controls">
					<textarea class="card-desc" placeholder="{{strings.LBL_CARD_DESC}}"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="dialog-button btn primary" data-button-id="save">{{strings.BTN_DONE}}</button>
		<button class="dialog-button btn" data-button-id="cancel">{{strings.BTN_CANCEL}}</button>
	</div>
</div>
