<div id="brackets-trello-new-tasks" class="template modal">
	<div class="modal-header">
		<h1 class="dialog-title">{{LBL_CREATE_NEW_TASKS}}</h1>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div class="control-group">
				<div class="controls">
					<input type="text" class="task-name" placeholder="{{LBL_TASK_NAME}}">
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn primary btn-add-task">{{LBL_ADD_NEW_TASK}}</button>
		<button class="dialog-button btn" data-button-id="cancel">{{BTN_CANCEL}}</button>
		<button class="dialog-button btn primary" data-button-id="save">{{BTN_DONE}}</button>
	</div>
</div>
