<h4>{{boardName}} / {{listName}}</h4>
<h5 class="card-name" id="{{id}}">
	<span id="card-name">{{name}}</span>
	<i class="btn-cmd btn-delete cmd-delete-card" data-card-id="{{id}}" />
	<i class="btn-cmd btn-edit cmd-edit-card-name" data-card-id="{{id}}" />
</h5>
<p class="card-desc">
	<span id="card-desc">{{desc}}</span>
	<i class="btn-cmd btn-edit cmd-edit-card-desc" data-card-id="{{id}}"/>
</p>
<div class="checklists">
	{{> checklists.html}}
	<div class="cmd cmd-new-checklist">Add New Checklist</div>
</div>
<div class="card-comments">
	<h5 class="cmd-hide-comments">Comments <i class="btn-cmd btn-add cmd-add-comment"/></h5>
	{{> comments.html}}
</div>
<div class="members">
	<h5>Members:</h5>
	{{> members.html}}
	<div class="cmd cmd-new-member">Add New Members</div>
</div>
