{{#lists}}
	<div class="list-item" data-list-id="{{id}}">
		<h5 class="list-name" data-list-id="{{id}}">
			<a href="#">{{name}}</a>
			<span class="totalCards">{{totalCards}}</span>
			<span class="code-comment-counter"></span>
			<i title="{{strings.EDIT_LIST_NAME}}"  class="btn-cmd btn-edit cmd-edit-list" data-list-id="{{id}}" />
			<i title="{{strings.DELETE_LIST}}"  class="btn-cmd btn-delete cmd-delete-list" data-list-id="{{id}}" />
			<i title="{{strings.PUSH_ALL_COMMENTS}}" class="btn-cmd btn-push cmd-push-comments" data-list-id="{{id}}" data-list-name="{{name}}" />
		</h5> 
		<div class="cards">
			<!-- Trello todo: maybe we should order the cards by file name [5488b92d3ac15bd0ac199606] --> 
			<div class="lists_cards">{{> lists_cards.html}}</div>
		</div>
		<div class="cmd cmd-new-card" data-list-id="{{id}}">{{strings.BTN_ADD_NEW_CARD}}</div>
	</div>
{{/lists}}
