{{#cards}}
	<div class="card-item" data-card-id="{{id}}">
		<a class="card-name" data-card-id="{{id}}" href="#">{{name}}</a>
		<i title="{{strings.DELETE_CARD}}" class="btn-cmd btn-delete cmd-delete-card" data-card-id="{{id}}" />
		<i title="{{strings.EDIT_CARD_NAME}}" class="btn-cmd btn-edit cmd-edit-card-name" data-card-id="{{id}}" />
		{{#badges}}
			{{#checkItems}} <!-- if checkItems not 0 -->
				{{#finished}}
				<span class="taskCount tasksFinished">
				{{/finished}}
				{{^finished}}
				<span class="taskCount">
				{{/finished}}
					<span class="checkItemsChecked">{{checkItemsChecked}}</span>/<span class="checkItems">{{checkItems}}</span>
				</span>
			{{/checkItems}}
			{{^checkItems}} <!-- else -->
				<span class="taskCount"></span>
			{{/checkItems}}
		{{/badges}}
		<div class="card-verbose">
			<!-- lists_cards_all.html -->
			{{> lists_cards_all.html}}
		</div>
	</div>
{{/cards}}
